{% extends "layout.html" %}

<!-- video de youtube-->
{% block content %}
<div class="alert alert-warning" role="alert">
   
    <h1> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Page building</h1>
</div>

<div id="jumbo" class="text-white container-fluid ">
    <div class="row">
        
        
        <div class="col-md-6 mb-3">
        
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img(117).jpg" class="img-fluid z-depth-1 "
                alt="Responsive image">
        
        </div>    
       
        <!-- Grid column -->
      
        <!-- Grid column -->
        <div class="col-md-6 mb-3">
      
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img(129).jpg" class="img-fluid z-depth-1"
                alt="Responsive image">
      
        </div>
        <!-- Grid column -->
      
    </div>
</div>

{% endblock %}