{% extends "layout.html" %}

{% block content %}
<div align="center">
    <h1>Tips de cuidados</h1>
    <hr class="my-4">
</div>

<div class= "mt-5" align="center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dQEZq1pIlzI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <hr class="my-4">
</div> 

<div class="row">

    <!-- Grid column -->
    <div class="col-md-6 mb-3">
  
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img(117).jpg" class="img-fluid z-depth-1"
            alt="Responsive image">
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-md-6 mb-3">
  
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img(129).jpg" class="img-fluid z-depth-1"
            alt="Responsive image">
  
    </div>
    <!-- Grid column -->
  
  </div>


{% endblock %}