{% extends "layout.html" %}

{% block content %}
<div align="center">
    <h1>Tips de cuidados</h1>
    <hr class="my-4">
</div>

<div class= "mt-5" align="center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dQEZq1pIlzI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <hr class="my-4">
</div> 



    <div class="row">

        
        <div class="col-md-4 mb-3">

            <div id="fondo" class="jumbotron mt-3 ">

                <div class="text-center mb-2">
                    <i class="fa fa-medkit fa-3x logos" aria-hidden="true"></i>
                </div>

                <h5 class="alert alert-secondary" role="alert"> Cuidados preventivos</h5>
    
                <ul class="list-group">
                    
                    <li class="list-group-item">Usar barbijo en la via publica</li>
                    <li class="list-group-item">Lavarse las manos frecuentemente</li>
                    <li class="list-group-item">Evitar tocarse el rostro</li>
                    <li class="list-group-item">Mantener distancia social</li>
                </ul>

            </div>
    
        </div>

    
        <!-- Grid column -->
        <div class="col-md-4 mb-3">

            <div id="fondo" class="jumbotron mt-3 ">

                <div class="text-center mb-2">
                    <i class="fa fa-heartbeat  fa-3x logos" aria-hidden="true"></i>
                </div>

                <h5 class="alert alert-secondary" role="alert"> Cuidados salud mental</h5>
    
                <ul class="list-group">
                    
                    <li class="list-group-item">Reconoce y expresa tus sentimientos y emociones</li>
                    <li class="list-group-item">Evita el contacto fisico, no el contacto social</li>
                    <li class="list-group-item">evita estar sobre informado de noticias</li>
                    <li class="list-group-item">Realiza actividades recreativas, hobbies</li>
                </ul>
            </div>
    
        </div>

        <div class="col-md-4 mb-3">

            <div id="fondo" class="jumbotron mt-3 ">

                <div class="text-center mb-2">

                    <i class="fa fa-bicycle fa-3x logos" aria-hidden="true"></i>

                </div>

                <h5 class="alert alert-secondary" role="alert">Cuidados salud fisica</h5>
    
                <ul class="list-group">
                    
                    <li class="list-group-item"> 1hr de actividad fisica diaria</li>
                    <li class="list-group-item">Para el homeoffice procurar no estar sentado en la misma posicion</li>
                    <li class="list-group-item">Mantenerse hidratado</li>
                    <li class="list-group-item">Si la fase lo permite, realizar caminatas</li>
                </ul>
            </div>
    
        </div>
        <!-- Grid column -->
    
    </div>


{% endblock %}