{% extends "layout.html" %}

<!-- video de youtube-->
{% block content %}


<!-- popup ventanita que muestra informacion -->
<div id= 'jumbo'class="jumbotron mt-4">
  
    <h1 class="letra text-center text-light display-4">Somos Chacovid</h1>
    <p class="text-center text-light lead">Todo lo que necesitas saber sobre el Covid-19</p>
    <hr class="my-4">
    
</div>


<div  align="center">
    <hr class="my-4">
    <iframe width="660" height="415" src="https://www.youtube.com/embed/zjrpEQfXojI" frameborder="#" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <hr class="my-4">
</div>

{% endblock %}