{% extends "layout.html" %}

{% block content %}

<!-- popup/modal ventanita que muestra una lista y un link al final -->

<div id="jumbo" class="jumbotron mt-3 ">

    <h1 class="text-light display-5">Permisos: requisitos</h1>
    <p class="text-light lead mt-5"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>  No pertenecer al grupo de riesgo</p>
    <hr class="my-4">
    <p class="text-light lead"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>  Poseer DNI</p>
    <hr class="my-4">
    <p class="text-light lead"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>  Permitidos 2 por semana</p>
    <hr class="my-4">
    <p class="text-light">Saca tu permiso </p>
    <a class="p-4 mb-2 .bg-transparent text-white rounded" target="_blank" href="https://gobiernodigital.chaco.gob.ar/login" role="button">https://gobiernodigital.chaco.gob.ar/login</a>
        
</div>
    
{% endblock %}



